    @import url(reset.css);
    :root{
        /* color */
        --color-black:#000;

        /*Font-size*/
        --font-xlarge:2.25rem;
        --font-large: 1.063rem;
        --font-medium: 0.9375rem;
        --font-regular: 0.875rem;
        --font-small: 0.75rem;
        --font-micro: 0.6875rem;

        /*font-weight*/
        --weight-bold: 700;
        --weight-semi-bold: 600;
        --weight-regular-bold: 400;

        /*Size*/
        --border-radius: 0.25rem;

        /*Animation*/
        --animation-duration: 300ms; /*300ms:사람이 가장 흥미를 가지면서 지루하지 않은 초*/
}
    /*  header  */
    #header{
        width: 100%;
        height: 110px;
        position: relative;
        border-bottom: 1px solid var(--color-black);
    }
    .logo{
        cursor: pointer;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        display: inline-block;
        text-align: center;
        width: 15%;
        z-index: 2;
        
    }
    .logo > .logo__img{
        cursor: pointer;
    }
    .navbar__top{
        width: 100%;
    }
    .navbar__top >.top__menu{
        display: flex;
        justify-content: flex-end;
        position: relative;
        right: 30px;
    }
    .top__menu > .top__menu__list{
        font-size: var(--font-small);
        margin: 0.5rem;
    }
    .top__menu > .top__menu__list >a{
        padding: 0.8rem;
    }
    .top__menu > .top__menu__list >a:hover{
        text-decoration: underline;
    }
    .navbar__bottom{
        width: 100%;
    }
    .navbar__bottom > .bottom__menu{
        display: flex;
        justify-content: center;
    }
    .bottom__menu > .bottom__menu__list{
        font-size: var(--font-medium);
        font-weight: var(--weight-bold);
        margin: 0.8rem;
        
        
    }
    .bottom__menu > .bottom__menu__list a{
        margin: 0 1rem;
        position: relative;
        display: inline-block;
        
    }
    .bottom__menu__list a::after{
        content: "";
        display: block;
        opacity: 0;
        width: 0px;
        height: 3px;
        background-color: var(--color-black);
        position: absolute;
        top: 20px;
        transition: all 0.3s ease-out;
    }
    .bottom__menu__list a:hover::after{
        
        content: "";
        display: block;
        opacity: 1;
        width: 100%;
        height: 3px;
        background-color: var(--color-black);
        position: absolute;
        top: 20px;
        transition: all 0.3s ease-out;
    }